<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="../style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
</head>
<body>
<th:block th:insert="~{_template :: menu1}"/>
<th:block th:insert="~{_template :: menu2}"/>
<sec:authorize access="!isAuthenticated()">
  <% response.sendRedirect("/"); %>
</sec:authorize>
<div>
    <h1 text-align="center">It's error page!</h1>
</div>
</body>
</html>